<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  
  

  <div class = "field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode, id:"user_postcode" %>
  </div>

  <div class = "field">
    <%= f.label "都道府県" %><br />
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,:name, :name, include_blank: "都道府県" %>
  </div>
  
  <div class = "field">
    <%= f.label :address_city %><br />
    <%= f.text_field :address_city, id:"user_address_city" %>
  </div>
  
  <div class = "field">
  <%= f.label :address_street, :address_building %><br />
  <%= f.text_field :address_street, id:"user_address_street" %>
</div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
