<td id = "book_<%= book.id %>">
<% if book.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(book), method: :delete, remote: true, class: "font" do %>
                    <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: block;"></i>  
                    <%= book.favorites.count %> 
                <% end %>
            <% else %>
            <%= link_to book_favorites_path(book), method: :post, remote: true, class: "font" do %>
                <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"  ></i>  
                <%= book.favorites.count %>
            <% end %>      
<% end %>
</td>